<!DOCTYPE html>
<html lang="en">
<head>
    <base href=".">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modifyAccount.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="myPage.js" defer></script>
    <title>Document</title>
</head>
<body>
    <!-- <div class="container">

        <ul class="menu-list">
            <li>
                <span class="">사용자 정보</span>
                <ul>
                    <li><a>회원 정보 수정</a></li>
                    <li><a>주문 확인/취소</a></li>
                </ul>
            </li>
            <li id="is-admin">
            </li>
        </ul>
        <div class="field">
            <label class="label">이메일</label>
            <div class="control">
                <input class="input" type="text" placeholder="email">
            </div>
            <label class="label">비밀번호</label>
            <div class="control">
                <input class="input" type="password" placeholder="Text input">
            </div>
            <label class="label">주소</label>
            <div class="control">
                <input class="input" type="address" placeholder="Text input">
            </div>
        </div>

    </div> -->
    <div class="container">
        <ul class="menu-list">
            <li>
                <span class="">사용자 정보</span>
                <ul>
                    <li><a>회원 정보 수정</a></li>
                    <li><a>주문 확인/취소</a></li>
                </ul>
            </li>
            <li id="is-admin">
            </li>
        </ul>
    <div>
        <fieldset disabled>
            <div class="field">
              <label class="label">이메일</label>
              <div class="control">
                <input class="input" type="text" placeholder="">
              </div>
            </div>
        </fieldset>
            <div class="field">
              <label class="label">비밀번호</label>
              <div class="control">
                <input class="input" type="password" placeholder="비밀번호">
              </div>
            </div>
            
    </div>
    </div>
</body>
</html>