<!DOCTYPE html>
<html lang="en">
<head>
    <base href=".">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="myPage.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="myPage.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="" id="menu">
            <ul class="menu-list">
                <li>
                    <span class="">사용자 정보</span>
                    <ul>
                        <li><a>회원 정보 수정</a></li>
                        <li><a>주문 확인/취소</a></li>
                    </ul>
                </li>
                <li id="is-admin">
                </li>
            </ul>
        </div>
        
        <div class="" id="content">
            <div class="field">
                <label class="label">비밀번호를 입력하세요.</label>
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
                <p class="control">
                    <button class="button is-success" id="pwSubmitBtn">
                        확인
                    </button>
                </p>
            </div>


        </div>
    </div>
    
</body>
</html>