.nav-bar {
  display: flex;
  width: 100vw;
  height: 100px;
}

.container {
  display: flex;
}

#menu {
  display: flex;
  justify-content: center;
  
  width:20%;
  min-width: 170px;
}

#content {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:80vw;
  height:80vh;

  border-color:lightgray white white lightgray;
  border-style: solid;
  border-width:1px 0px 0px 1px;
}


.password-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 350px;
  width: 350px;
}

.password-form > label{
  font-weight: 600;
  letter-spacing: -0.3px;
}

.password-form .password-form__input {
  position: relative;
}

.password-form .password-form__input > i{
  position: absolute;
  top: 11px;
  left: 10px;
}

.password-form .password-form__input > .input-custom{
  padding-left: 30px;
}

.password-form .password-form__button {
  display: flex;
  justify-content: right;
}
