<!DOCTYPE html>
<html lang="en">

<head>
  <base href="." />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="deleteItem.css" />
  <script type="module" src="deleteItem.js" defer></script>
  <title>문어상점</title>
</head>

<body>
  <!-- sticky 속성을 위한 wrapper -->
  <div class="wrapper">
    <header>
      <!-- nav 바 -->
    </header>

    <!-- 메인 -->

    <main class="container">
      <div class="" id="content">
        <div class="" id="menu">
          <ul class="menu-list">
            <li>
              <span>사용자 정보</span>
              <ul>
                <li><a href="/admin">주문 확인/취소</a></li>
              </ul>
            </li>
            <li>
              <span>관리자 메뉴</span>
              <ul>
                <li><a href="/admin/items">상품 추가</a></li>
                <li><a href="/admin/items/delete">상품 수정/삭제</a></li>
                <li><a href="/admin/categories">카테고리 변경</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="data">
          <h2 class="subtitle is-3" id="notifier">주문 정보</h2>
          <table class="table is-striped is-hoverable" id="itemTable">
            <!-- 주문번호 / 주문자 / 주문 일자 / 배송지 / 주문상품 / 구매가격 / 상품상태(배송상태 변경용) -->
            <thead>
              <tr>
                <th class="itemCount">상품번호</th>
                <th class="itemId">상품명</th>
                <th class="itemBrand">브랜드</th>
                <th class="itemCategory">카테고리</th>
                <th class="itemDate">등록일자</th>
                <th class="itemPrice">가격</th>
                <th class="itemModify">수정</th>
              </tr>
            </thead>
            <tbody class="order" id="orderList"></tbody>
          </table>
        </div>
      </div>
    </main>

    <footer class="footer"></footer>

    <dialog class="custom-modal" id="modal">
      <div class='custom-modal-body'>
        <div class="modal-form">
          <div class="field">
            <label class="label">상품명</label>
            <div class="control">
              <input class="input" id="productName" type="text" placeholder="상품명을 적어주세요" />
            </div>
          </div>
          <div class="field" id="productClassify">
            <div>
              <label class="label">상품 브랜드</label>
              <div class="control">
                <input class="input" id="productBrand" type="text" placeholder="브랜드를 적어주세요" />
              </div>
            </div>
            <div id="Category" disabled>
              <label class="label">상품 카테고리</label>
              <div class="control">
                <div class="select is-primary">
                  <select id="productCategory" disabled></select>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">상품 상세 설명</label>
            <div class="control">
              <textarea class="textarea" id="productDesc" placeholder="상품명을 적어주세요"></textarea>
            </div>
          </div>
          <button class="button close-button">취소</button>
          <button class="button is-success put-button close-button">수정</button>
        </div>
      </div>
    </dialog>
  </div>
</body>

</html>