<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>문어상점</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  <!-- 커스텀 css, js -->
  <script src="./home.js" type="module" defer></script>
  <link rel="stylesheet" href="./home.css" />
</head>

<body>

  <!-- sticky 속성을 위한 wrapper -->
  <div class="wrapper">

    <!-- header 네비바(메뉴, 카테고리) -->
    <header>

      <!-- 타이틀 이미지, 로고 포함 네비바 template로 삽입 -->

    </header>

    <!-- 카테고리 네비바. template 로 삽입 -->


    <!-- 메인 콘텐츠 -->
    <main>

      <!-- 상품 목록 섹션 -->
      <section class="product-section">

        <div class="product-category">
          <h2 id="category-title"></h2>
        </div>

        <div class="product-container">
          <ul class="product-ul">

          </ul>
        </div>
        <button id="scroll-top-Btn">
          <div>Top</div>
        </button>
      </section>


    </main>


    <!-- footer -->
    <footer class="footer">

      <!-- 푸터 콘텐츠. template 로 삽입 -->

    </footer>

  </div>

</body>

</html>