<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>문어상점</title>
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product-detail.css" />
    <script src="product-detail.js" type="module" defer></script>
  </head>

  <body>
    <!-- 헤더 -->
    <!-- header 네비바(메뉴, 카테고리) -->
    <header>
      <nav
        class="navbar"
        id="nav-top"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand" id="nav-logobox">
          <img id="nav-logo" src="../images/octo-logo.png" alt="" />
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons" id="menu-box">
                <a class="button is-primary" id="menu-button">
                  <strong>로그인</strong>
                </a>
                <a class="button is-primary" id="menu-button">
                  <strong>회원가입</strong>
                </a>
                <a class="button is-primary" id="menu-button">
                  <strong>장바구니</strong>
                </a>
                <a class="button is-primary" id="menu-button">
                  <strong>마이페이지</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div id="title-container">
        <div id="title">
          <img src="../images/octopus-title.png" alt="문어상점" />
        </div>
      </div>

      <!-- 카테고리 네비바. 페이지에 따라 주석처리가능 -->
      <!-- 활성화 페이지일 시, 해당 li에 class="is-active" 추가할것-->
      <!-- <div class="tabs is-medium is-centered">
        <ul>
          <li>
            <a><strong>전체보기</strong></a>
          </li>
          <li>
            <a><strong>가공식품</strong></a>
          </li>
          <li>
            <a><strong>수산식품</strong></a>
          </li>
          <li>
            <a><strong>면, 식품</strong></a>
          </li>
          <li>
            <a><strong>양념, 조미료</strong></a>
          </li>
          <li>
            <a><strong>쌀, 견과류</strong></a>
          </li>
          <li>
            <a><strong>캔, 통조림</strong></a>
          </li>
        </ul>
      </div> -->
    </header>

    <!--상세페이지 본문 영역-->
    <main>
      <div class="tile is-parent" id="detailContent">
        <div class="tile is-4 is-child" id="image">사진</div>
        <div id="spacing" style="width: 20px; height: 100%"></div>
        <div class="tile is-child" id="detail">
          <div class="box is-size-5" id="name">
            <div id="productName">상품명</div>
            <div id="brand">브랜드</div>
          </div>
          <div class="box" id="description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error
            quidem possimus mollitia eaque ipsum necessitatibus voluptatem
            laboriosam blanditiis laborum cum, distinctio dignissimos! Quod
            iusto dicta at tempore non delectus. Soluta?
          </div>
          <div class="box is-size-5" id="price">금액</div>
          <div class="buttons">
            <button class="button is-primary" id="addToCart">
              장바구니에 추가
            </button>
            <button class="button is-primary" id="buyNow">바로 결제</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
