* {
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
}

#detailContent {
  font-weight: bold;
  height: 60%;
  width: 70%;
  margin: 80px auto;
}

#image {
  background-color: lightgray;
  height: 70%;
  image-rendering: auto;
}

#name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#description {
  height: 50%;
}

#price {
  text-align: right;
}

.buttons {
  float: right;
}
