@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: "S-CoreDream-3Light";
}

/* 푸터 영역을 화면 최하단에 붙여주기 위한 css 설정 */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* 헤더 영역 */
#nav-top {
  position: relative;
}

#nav-logobox {
  position: absolute;
}

#nav-logo {
  width: 130px;
  height: 130px;
  margin-top: 50px;
  margin-left: 180px;
}

#menu-box {
  padding-right: 30px;
}

#menu-box a,
#sort-box > div {
  color: #4b4453;
  background-color: white;
  padding: 10px 20px;
  margin: 0;
}

#menu-box {
  margin: 30px 20px 0 0;
}

#menu-box a,
#sort-box > div {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #4b4453;
  border: none;
}

.vertical-bar {
  width: 1px;
  height: 15px;
  background-color: #4b4453;
}

#title-container {
  display: flex;
  justify-content: center;
}

#title {
  margin-top: -40px;
  margin-bottom: 30px;
  z-index: 99;
}

.active {
  display: none;
}

/*  카테고리바의 sticky 속성 적용에 필요한 스타일  */
/* sticky 컴포넌트는 부모 태그 아래에 붙어서 화면에 남아 있는다 */
#category-bar {
  position: sticky;
  z-index: 999;
  top: 0;
  padding: 10px 0 2px 0;
  background-color: #ffffff;
}

/* 메인 콘텐츠 영역*/
.container {
  padding: 30px;
}

#order {
  font-weight: bold;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #d5d5d0;
}

#userInfo {
  display: flex;
  flex-wrap: nowrap;
  height: 20vh;
}

table {
  width: 100%;
  border: none;
}

#zeroColumn {
  width: 10%;
}

#firstColumn {
  width: 15%;
}

#secondColumn {
  width: 20%;
  text-decoration: none;
}

#thirdColumn {
  width: 15%;
  text-align: center;
}

#correct,
#buy {
  align-self: flex-end;
  width: 140px;
  padding: 0;
}

table > tbody > tr > td > img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#productsInfo > table * {
  text-align: center;
  line-height: 60px;
}

#productsInfo > table > thead {
  border-bottom: 1.5px solid rgb(167, 167, 167);
}

#productsInfo > table > * > tr {
  height: 40px;
}

#buyInfo {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

/* 푸터 영역 */

#footer-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#footer-icons img {
  padding: 0 20px;
}

#footer-textbox {
  margin: 50px 0 0 0;
}

#footer-textbox > div {
  display: flex;
  justify-content: center;
}

#footer-textbox a {
  color: #4b4453;
  margin: 5px 10px;
}

#footer-company a {
  color: gray;
}

#footer-ul a {
  background-color: hsl(0, 0%, 98%);
  color: #b0a8b9;
}
