@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  color: #4b4453;
  font-family: "S-CoreDream-3Light";
}

/* 푸터 영역을 화면 최하단에 붙여주기 위한 css 설정 */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#admin-login {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 99;
}

/* 헤더 영역 */
#nav-top {
  position: relative;
}

#nav-logobox {
  position: absolute;
}

#nav-logo {
  width: 130px;
  height: 130px;
  margin-top: 50px;
  margin-left: 180px;
}

#menu-box {
  padding-right: 30px;
}

#menu-box a,
#sort-box > div {
  color: #4b4453;
  background-color: white;
  padding: 10px 20px;
  margin: 0;
}

#menu-box {
  margin: 30px 20px 0 0;
}

#menu-box a,
#sort-box > div {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #4b4453;
  border: none;
}

.vertical-bar {
  width: 1px;
  height: 15px;
  background-color: #4b4453;
}

#title {
  margin-top: 40px;
}

#title-img {
  display: inline-block;
  margin-left: 160px;
  z-index: 99;
}

.active {
  display: none;
}

/*  카테고리바의 sticky 속성 적용에 필요한 스타일  */
/* sticky 컴포넌트는 부모 태그 아래에 붙어서 화면에 남아 있는다 */
#category-bar {
  position: sticky;
  z-index: 999;
  top: 0;
  padding: 10px 0 2px 0;
  background-color: #ffffff;
}

/* 메인 콘텐츠 영역*/
#carousel-top > p {
  color: white;
}

/* 캐러셀 */
.carousel-container {
  overflow: hidden;
}

.slider-pagination .slider-page {
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: #c4fcef;
  pointer-events: none;
}

.slider-pagination .slider-page.is-active {
  background-color: #00c9a7;
  transform: scale(1.8);
}

/*할인 상품 섹션 */
.discountSection {
  width: 100%;
  background-color: rgb(246, 253, 248);
}

.discount {
  display: grid;
  grid-template-columns: 0.9fr 1.4fr;
  grid-template-rows: 0.3fr 1.7fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'discountName itemPhoto'
    'discountInfo itemPhoto';
  width: 60%;
  height: 450px;
  margin: 100px auto 0 auto;
  font-weight: bold;
}

.itemPhoto {
  grid-area: itemPhoto;
  overflow: hidden;
  border-radius: 20px;
}

.itemPhoto > a > img {
  display: block;
  margin: auto auto;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
  border-radius: 20px;
}

.itemPhoto img:hover {
  transform: scale(1.2);
}

.discountTitle {
  grid-area: discountName;
  margin-top: 20px;
}

.discountTitle .is-size-4 {
  border-bottom: #555 solid 1px;
}

.discountTitle .ment {
  margin-top: 20px;
  color: #b0a8b9;
  font-size: 0.9em;
}

.discountInfo {
  grid-area: discountInfo;
}

.countDown {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.countDown > * {
  margin-right: 5px;
}

.countDown > img {
  width: 30px;
  margin-right: 10px;
}

.sec {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes blink {
  0% {
    color: white;
  }

  50% {
    color: #4b4453;
  }

  100% {
    color: black;
  }
}

.discountDetail {
  margin-top: 30px;
  border-radius: 15px;
}

.discountDetail > * {
  margin-top: 10px;
}

.discountProductDescription {
  font-weight: normal;
}

.discountPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  margin-top: 30px;
}

.disPercent {
  width: 70%;
  color: red;
}

.firstPrice {
  width: 30%;
  text-decoration: line-through;
  color: #b0a8b9;
}

.finalPrice {
  width: 100%;
}
/*여기까지 할인 상품 섹션 css입니다~~!!*/

/* 상품 리스트 */
.product-section {
  width: 100%;
}

.md-title,
.product-category {
  text-align: center;
  margin: 50px 0 30px 0;
}

.md-title > h2,
#category-title {
  font-size: 24px;
  font-weight: 600;
}

.md-btn {
  margin: 15px 30px;
}

.product-sortbox {
  display: flex;
  justify-content: center;
}

#sort-box {
  margin-bottom: 20px;
}

#sort-box a {
  font-size: 1.1em;
}

#sort-box > div:nth-child(n + 2)::after {
  position: absolute;
  left: 0;
  top: 17px;
  content: '';
  width: 2px;
  height: 17px;
  background-color: #e1e1e1;
}

.product-container {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  border-top: 1px solid #e1e1e1;
}

.md-product-ul,
.md-category-ul,
.product-ul {
  display: flex;
  flex-wrap: wrap;
}

.md-category-ul {
  justify-content: space-around;
}

.product-item {
  display: flex;
  justify-content: center;
}

.md-category-li {
  padding: 10px 20px;
  background-color: #51c498;
  border-radius: 25px;
}

.md-category-li:active,
.md-category-li:hover {
  background-color: #9986f1;
}

.md-category-button {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.md .item-container {
  display: flex;
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 270px;
  margin-bottom: 50px;
}

.item-photobox {
  max-width: 270px;
  margin: 0;
}

.item-photobox img {
  width: 270px;
  height: 270px;
  object-fit: cover;
}

.item-info-container {
  width: 100%;
  margin-bottom: 30px;
}

.item-namebox,
.item-pricebox {
  text-align: center;
}

.item-namebox {
  margin: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.item-namebox span {
  display: block;
  padding-bottom: 10px;
}

.item-pricebox span {
  color: #ab3e55;
}

/* 탑 이동 스크롤 버튼 */
#scroll-top-Btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 80px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #51c498; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 80px; /* Rounded corners */
  box-shadow: 3px 3px 5px #4b4453;
}

#scroll-top-Btn > div {
  width: 130px;
  height: 100px;
  line-height: 90px;
  /* display: table-cell; */

  font-size: 40px; /* Increase font size */
  font-weight: 700;
  color: white; /* Text color */
}

#scroll-top-Btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* 푸터 영역 */

#footer-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#footer-icons img {
  padding: 0 20px;
}

#footer-textbox {
  margin: 50px 0 0 0;
}

#footer-textbox > div {
  display: flex;
  justify-content: center;
}

#footer-textbox a {
  color: #4b4453;
  margin: 5px 10px;
}

#footer-company a {
  color: gray;
}

#footer-ul a {
  background-color: hsl(0, 0%, 98%);
  color: #b0a8b9;
}
