<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>문어상점</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
  <!-- 커스텀 css, js -->
  <script src="./home.js" type="module" defer></script>
  <link rel="stylesheet" href="./home.css" />
</head>

<body>

  <!-- sticky 속성을 위한 wrapper -->
  <div class="wrapper">

    <header>

      <!-- 타이틀 이미지, 로고 포함 네비바 template로 삽입 -->

    </header>

    <!-- 카테고리 네비바. template 로 삽입 -->

    <!-- 메인 콘텐츠 -->
    <main>

      <!-- 캐러셀 섹션 -->
      <section id="carousel-top">
        <p>카테고리 이동 캐러셀</p>
        <div class="carousel-container">
          <!-- Start Carousel -->
          <div id="carousel-demo" class="carousel">
            <div class="item-1">
              <!-- Slide Content -->
              <img src="../images/banner_1.png" alt="문어 상점 회원가입 이벤트 중 입니다">
            </div>
            <div class="item-2">
              <!-- Slide Content -->
              <img src="../images/banner_2.png" alt="새벽 배송 서비스 중 입니다">
            </div>
            <div class="item-3">
              <!-- Slide Content -->
              <img src="../images/banner_3.png" alt="김장 관련 제품 최대 15% 할인 중입니다">
            </div>

          </div>
        </div>
      </section>
      <!-- End Carousel -->


      <!--할인 상품 섹션-->
      <section class="discountSection">
        <div class="discount">
          <div class="itemPhoto">
            <a class="discountLink"><img class="discountImg" src="일단 비우기" alt="상품 이미지" /></a>
          </div>
          <div class="discountTitle">
            <p class="is-size-4">오늘의 특가</p>
            <p class="ment">망설이면 늦어요!</p>
          </div>
          <div class="discountInfo">
            <div class="countDown is-size-3">
              <img src="clock.png" />
              <span class="hour"></span>
              <span>:</span>
              <span class="min"></span>
              <span>:</span>
              <span class="sec"></span>
            </div>

            <div class="box discountDetail">
              <div class="is-size-4 discountName">상품명</div>
              <div class="discountProductDescription">
                세상에서 제일 달고 잘나가는 딸기
              </div>
              <div class="discountPrice">
                <span class="is-size-5 disPercent">할인율</span><span class="is-size-5 firstPrice">원가</span>
                <div class="is-size-5 finalPrice">최종 금액</div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- 상품 목록 섹션 -->
      <section class="product-section">

        <!-- 할인 상품 영역 -->

        <!-- 카테고리별 추천 상품 영역 -->
        <div class="md-recommend">
          <div class="md-title">
            <h2>MD 추천 상품</h2>
          </div>
          <div class="product-container">
            <ul class="md-category-ul">

            </ul>
          </div>
          <div class="product-container">
            <ul class="md-product-ul">

            </ul>
          </div>
        </div>

        <!-- 무한 스크롤 전체 보기 시작 -->
        <div class="product-category">
          <h2 id="category-title"></h2>
        </div>

        <div class="product-container">
          <ul class="product-ul">

          </ul>
        </div>
        <button id="scroll-top-Btn">
          <div>Top</div>
        </button>
      </section>


    </main>


    <!-- footer -->
    <footer class="footer">

      <!-- 푸터 콘텐츠. template 로 삽입 -->

    </footer>

  </div>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
  bulmaCarousel.attach('#carousel-demo', {
    slidesToScroll: 1,
    slidesToShow: 1,
    pagination: true,
    loop: true,
    infinite: true,
    autoplay: true,
    duration: 300,
    pauseOnHover: true,
  });
</script>