* {
  margin: 0;
  padding: 0;
  color: #4b4453;
}

/* 헤더 영역 */
#nav-top {
  position: relative;
}

#nav-logobox {
  position: absolute;
}

#nav-logo {
  width: 130px;
  height: 130px;
  margin-top: 50px;
  margin-left: 180px;
}

.buttons {
  padding-right: 30px;
}

#menu-button {
  color: #4b4453;
  background-color: white;
  border-color: #4b4453;
  padding: 10px 20px;
  margin: 0;
}

#menu-box {
  margin: 30px 20px 0 0;
}

#menu-box a {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #4b4453;
  border: none;
}

#menu-box a:nth-child(n + 2)::after {
  position: absolute;
  left: 0;
  top: 20px;
  content: '';
  width: 1px;
  height: 15px;
  background-color: #4b4453;
}

#title-container {
  display: flex;
  justify-content: center;
}

#title {
  margin-top: -40px;
  margin-bottom: 30px;
  z-index: 99;
}

/* 메인 콘텐츠 영역*/
#carousel-top > p {
  color: white;
}

.carousel-container {
  overflow: hidden;
}

.slider-pagination .slider-page {
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: #c4fcef;
}

.slider-pagination .slider-page.is-active {
  background-color: #00c9a7;
  transform: scale(1.8);
}

/* 푸터 영역 */

#footer-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#footer-icons img {
  padding: 0 20px;
}

#footer-textbox {
  margin: 50px 0 0 0;
}

#footer-textbox > div {
  display: flex;
  justify-content: center;
}

#footer-textbox a {
  color: #4b4453;
  margin: 5px 10px;
}

#footer-company a {
  color: gray;
}

#footer-ul a {
  background-color: hsl(0, 0%, 98%);
  color: #b0a8b9;
}
