/* * {
  border: 1px solid black;
} */

/* 헤더 영역 */
header {
  width: 100%;
  background-color: white;
}

#nav-top {
  position: relative;
}

#nav-logobox {
  position: absolute;
}

#nav-logo {
  width: 130px;
  height: 130px;
  margin-top: 50px;
  margin-left: 180px;
}

.buttons {
  padding-right: 30px;
}

#menu-button {
  color: #4b4453;
  background-color: white;
  border-color: #4b4453;
  padding: 10px 20px;
  margin: 0;
}

#menu-box {
  margin: 30px 20px 0 0;
}

#menu-box a {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #4b4453;
  border: none;
}

#menu-box a:nth-child(n + 2)::after {
  position: absolute;
  left: 0;
  top: 20px;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #4b4453;
}

#title-container {
  display: flex;
  justify-content: center;
}

#title {
  margin-top: -40px;
  margin-bottom: 30px;
  z-index: 99;
}

/* 메인 콘텐츠 영역*/
.container {
  padding: 30px;
}

#cart {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #d5d5d0;
}

#flexbox {
  display: flex;
}

#cartInfo {
  width: 70%;
  box-shadow: none;
}

#checkBox {
  padding: 5px 0;
  border-bottom: 1px solid black;
}

.productElement {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #b0a8b9;
}

#checkProduct {
  margin-right: 5px;
}

.productimg > img {
  width: 120px;
  height: 120px;
  object-fit: scale-down;
  background-color: #d5d5d0;
}

.productDescription {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 10px;
}

.productName {
  width: 100%;
}

.eachPrice {
  width: 40%;
}

.eachAmount {
  width: 30%;
}

.eachAmount {
  display: flex;
  justify-content: center;
}

.eachAmount > span {
  width: 30px;
  text-align: center;
}

.eachTatalPrice {
  width: 30%;
  text-align: right;
}

.amount > .eachTatalPrice {
  width: 40%;
}

#cart,
#payment {
  font-weight: bold;
}

#payment button {
  width: 100%;
}

#payment {
  height: 40vh;
  width: 30%;
  background-color: #c5ebf3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.paymentInfo {
  grid-area: 1 / 1 / 3 / 2;
  border-bottom: solid 1px black;
  margin: auto 0;
}

.productsCount {
  grid-area: 3 / 1 / 5 / 2;
}

.productsPrice {
  grid-area: 5 / 1 / 7 / 2;
}

.deliveryCharge {
  grid-area: 7 / 1 / 9 / 2;
}

.totalPrice {
  grid-area: 9 / 1 / 12 / 2;
}

#payment > div {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info > * {
  margin: auto 0;
}

/* 푸터 영역 */

#footer-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#footer-icons img {
  padding: 0 20px;
}

#footer-textbox {
  margin: 50px 0 0 0;
}

#footer-textbox > div {
  display: flex;
  justify-content: center;
}

#footer-textbox a {
  color: #4b4453;
  margin: 5px 10px;
}

#footer-company a {
  color: gray;
}

#footer-ul a {
  background-color: hsl(0, 0%, 98%);
  color: #b0a8b9;
}
