<!DOCTYPE html>
<html lang="en">

<head>
  <base href="." />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png" />

  <link rel="stylesheet" href="myPage.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="myPage.js" defer></script>
  <title>문어상점</title>
</head>

<body>
  <header class="nav-bar">
    <nav class="navbar" id="nav-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand" id="nav-logobox">
        <img id="nav-logo" src="/images/octo-logo.png" alt="" />
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons" id="menu-box">
              <a class="button is-primary" id="menu-button">
                <strong>로그인</strong>
              </a>
              <a class="button is-primary" id="menu-button">
                <strong>회원가입</strong>
              </a>
              <a class="button is-primary" id="menu-button">
                <strong>장바구니</strong>
              </a>
              <a class="button is-primary" id="menu-button">
                <strong>마이페이지</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="title-container">
      <div id="title">
        <img src="/images/octopus-title.png" alt="문어상점" />
      </div>
    </div>

    <!-- 카테고리 네비바. 페이지에 따라 주석처리가능 -->
    <!-- 활성화 페이지일 시, 해당 li에 class="is-active" 추가할것-->
    <div class="tabs is-medium is-centered">
      <ul>
        <li>
          <a><strong>전체보기</strong></a>
        </li>
        <li>
          <a><strong>가공식품</strong></a>
        </li>
        <li>
          <a><strong>수산식품</strong></a>
        </li>
        <li>
          <a><strong>면 · 튀김</strong></a>
        </li>
        <li>
          <a><strong>양념 · 조미료</strong></a>
        </li>
        <li>
          <a><strong>쌀 · 견과류</strong></a>
        </li>
        <li>
          <a><strong>캔 · 통조림</strong></a>
        </li>
      </ul>
    </div>
  </header>

  <main class="container">
    <div class="" id="menu">
      <ul class="menu-list">
        <li>
          <span>사용자 정보</span>
          <ul>
            <li><a>주문 확인/취소</a></li>
            <li><a>회원 정보 수정</a></li>
          </ul>
        </li>
        <li id="is-admin"></li>
      </ul>
    </div>

    <div class="" id="content">
      <div class="password-form">
        <label>비밀번호를 입력하세요.</label>
        <div class="password-form__input">
          <input class="input input-custom" type="password" placeholder="Password" />
          <i class="fas fa-lock"></i>
        </div>
        <div class="password-form__button">
          <button class="button is-success is-fullwidth" id="pwSubmitBtn">
            확인
          </button>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div id="footer-container">
      <div id="footer-icons">
        <a href="https://www.instagram.com/">
          <img src="/images/instagram-icon.jpg" alt="옥토 인스타그램" />
        </a>
        <a href="https://ko-kr.facebook.com/">
          <img src="/images/facebook-icon.png" alt="옥토 페이스북" />
        </a>
        <a href="https://twitter.com/?lang=ko">
          <img src="/images/twitter-icon.png" alt="옥토 트위터" />
        </a>
      </div>
      <div id="footer-textbox">
        <div id="footer-info">
          <a href="">Info</a>
          <a href="">Support</a>
          <a href="">Marketing</a>
        </div>
        <div id="footer-policy">
          <a href="">Terms of Use</a>
          <a href="">Private Policy</a>
        </div>
        <div id="footer-company">
          <a href="">ⓒ 2022 OCTO infinite</a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>